@import "bootstrap";

/* Global Elements */

.btn {
  background-color: #686868;
  color: white;
  border: none;
}

.btn:hover {
  background-color: #2471B4;
  transition: .4s;
}

.section-heading h2 {
  font-family: 'Lobster';
  font-size: 90px;
  text-align: center;
  margin-top: 70px;
}

/* Navbar */

.nav {
  height: 55px;
  opacity: .9;
  background-color: #686868 !important;
}

.navbar-right {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.navbar-button {
  font-family: 'Lobster';
  font-size: 20px;
  color: white !important;
  border: none;
}

.navbar-button:hover {
  opacity: .5;
  transition: .4s;
  cursor: pointer;
}

.navbar-index {
  background-color: rgba(0,0,0,0) !important;
}

.navbar-right-index {
  background-color: rgba(0,0,0,0) !important;
}

@media (max-width: 765px) {
  .navbar-button {
    margin-top: 17px;
    background-color: #686868;
    color: white !important;
  }

  .navbar-button:hover {
    background-color: #2471B4 !important;
    color: white !important;
  }

  .navbar-button:focus {
    background-color: #2471B4 !important;
  }

  .navbar-nav {
    justify-content: flex-end;
    margin: -20px -20px 0 0;
  }
}

#home-link {
  font-family: 'Lobster';
  font-size: 40px;
  color: white;
  margin: auto 0 0 10px;
  background: none;
  border: none;
  padding: 15px;
}

#home-link:hover {
  opacity: .5;
  transition:.4s ease-in-out;
}

/* Home Section */

.hero {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  background-color: #000000;
  opacity: .9;
}
  
.hero::before {
    content: ' ';
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background-image: url('/assets/images/hero-image.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
  
.hero-title {
    text-align: center;
    margin: 50px auto 20px;
}
  
.hero-header {
    margin-top: 5%;
    font-size: 80px;
    font-family: 'Lobster';
    color: #2471B4;
}
  
@media (min-width: 575px) {
    .hero-header {
      font-size: 110px;
  }
}
  
@media (min-width: 754px) {
    .hero-header{
      font-size: 150px;
  }
}
  
@media (min-width: 1400px) {
    .hero-header {
      font-size: 190px;
  }
}
  
.hero-title h3 {
    font-family: 'Raleway';
    font-size: 30px;
    color: #ffffff;
}
  
.hero-skills {
    margin: 40px auto;
    padding: 0;

  li {
        padding: 5px;
        list-style: none;
        display: inline;
        box-shadow: bottom;
  }
    
  .icon {
        height: 95px;
        width: 95px;
        display: inline-block;
  }
    
  .icon img {
        height: 55px;
        width: 55px;
        margin-top: 20px;
  }
}
 
/* About Section */

#about {
    background-color: #2471B4;
    color: white;
    width: 100%;
    padding-bottom: 100px;

  h3 {
    font-family: 'Lobster';
    font-size: 40px;
    margin-bottom: 20px;
  }
  
  p {
    font-family: 'Raleway';
    font-size: 18px;
    margin: 10px 0 50px;
  }
}

/* Projects Section */

#projects {
    background-color: white;
    width: 100%;
    color: #686868;
    font-family: 'Raleway';
    font-size: 18px;

  
  h2 {
    color: #2471B4;
    margin-bottom: 30px;
  }
  
  h3 {
    font-family: 'Lobster';
    font-size: 40px;
  }
  
  h4 {
    font-size: 25px;
    text-decoration: underline;
  }
  
  img {
    margin-top: 25px;
  }
  
  video {
    margin-top: 40px;
  }
  

  .row {
    margin: 80px 0;
  }
  
  .project-even {
    text-align: right;
  }
  
  .project-even ul {
    direction: rtl;
  }
}

/* Blog Section */

#blog {
  min-height: calc(100vh - 50px);
  background-color: #BFD1E5;

  h2 {
    color: white;
    margin-bottom: 30px;
  }

  h3 {
    font-size: 30px;
    font-weight: bolder;
  }

  .blog-list {
    font-family: 'Raleway';
  }

  a {
    color: white;
  }
  a:hover {
    color: #686868;
    text-decoration: none;
  }
}

  
/* Resume Sections */

#resume {
    background-color: #2471B4;
    color: white;
    width: 100%;
}
  
.resume-img {
    margin-bottom: 50px;
    text-align: center;
}
  
.resume-img a {
    max-width: 80%;
    max-height: 80%;
}
  
/* Contact Section */

#contact {
    color: #2471B4;
    min-height: calc(100vh - 50px);
}
  
#contact p {
    color: #686868;
    font-family: 'Raleway';
    font-size: 18px;
    margin-top: 20px;
}
  
#contact form {
    margin: 45px auto;
}
  
#contact .form-control:focus {
    border: solid 2px #2471B4;
    box-shadow: none;
}
  
/* Wobble Vertical */

@-webkit-keyframes hvr-wobble-vertical {
  16.65% {
      -webkit-transform: translateY(5.5px);
      transform: translateY(5.5px);
  }
  33.3% {
      -webkit-transform: translateY(-3.5px);
      transform: translateY(-3.5px);
  }
  49.95% {
      -webkit-transform: translateY(2px);
      transform: translateY(2px);
  }
  66.6% {
      -webkit-transform: translateY(-0.5px);
      transform: translateY(-0.5px);
  }
  83.25% {
      -webkit-transform: translateY(0.5px);
      transform: translateY(0.5px);
  }
    100% {
    -webkit-transform: translateY(0);
      transform: translateY(0);
  }
}
@keyframes hvr-wobble-vertical {
  16.65% {
      -webkit-transform: translateY(5.5px);
      transform: translateY(5.5px);
  }
  33.3% {
      -webkit-transform: translateY(-3.5px);
      transform: translateY(-3.5px);
  }
  49.95% {
      -webkit-transform: translateY(2px);
      transform: translateY(2px);
  }
  66.6% {
      -webkit-transform: translateY(-0.5px);
      transform: translateY(-0.5px);
  }
  83.25% {
      -webkit-transform: translateY(0.5px);
      transform: translateY(0.5px);
  }
  100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
  }
}
.hvr-wobble-vertical {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
}
.hvr-wobble-vertical:hover, .hvr-wobble-vertical:focus, .hvr-wobble-vertical:active {
    -webkit-animation-name: hvr-wobble-vertical;
    animation-name: hvr-wobble-vertical;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

/* Footer */

.footer {
  display: flex;
  align-items: center;
  height: 50px;
  background-color: #F8F8F8;
  border-top: 1px solid rgb(192, 192, 192);

  a {
    margin-left: 15px;
  }
}