<!-- About Section -->
<div class="container col-md-12" id="about">

  <div class="section-heading">
    <img class="my-face" src="http://res.cloudinary.com/markfroehlich/image/upload/c_crop,h_1000,w_1000,x_100,y_111/v1510280346/my_face_ilrynk.jpg">
    <h2>About Me</h2>
  </div>

  <div class="col-md-8 col-md-offset-2">
    <p>
      In a world of automation and consumerism, I prefer to make. The sense of accomplishment brought by building something that
      you and your peers can enjoy is unlike anything else. For me, it started with brewing my own beer and woodworking.
      I then realized the potential of what I could make in computer programming and dove in head first. Being able to develop
      a web application or website that can be seen and used by millions of people has driven me to enter the web development
      field.
    </p>
    <h3>What I’ve Done</h3>
    <p>
      I’ve spent countless hours on self taught computer programming courses like Codecademy and Khan Academy while also making
      dummy websites, for instance, for my home brewery Matchstick Brewing Co. What I’m
      <em>most</em> proud of is taking the leap toward the full career change by enrolling in a rigorous bootcamp called Bloc.
      While there I’ve been strengthening my knowledge of HTML and CSS while diving deeper into some of the more complicated
      languages and tools like Ruby on Rails and AngularJS.
    </p>
    <h3>What Makes Me... Me</h3>
    <p>
      When I’m not programming I’m usually out playing golf or working on my next beer recipe. I’m a huge baseball fan as well
      and play whenever I get the chance I love traveling and hope I can see more of this world in the near future.
    </p>
  </div>

</div>