
    
<!--Navbar-->
  <nav class="nav navbar-default navbar-fixed-top navbar-transparent">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle navbar-toller-right toggler" data-toggle="collapse" data-target="#myNavbar" aria-controls="myNavbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        {{#link-to 'home' class="navbar-brand hvr-wobble-vertical" id="home-link"}}Mark Froehlich{{/link-to}}
      </div>

      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right ml">
          <li>{{#link-to 'about' class="navbar-button hvr-wobble-vertical"}}About{{/link-to}}</li>
          <li>{{#link-to 'projects' class="navbar-button hvr-wobble-vertical"}}Projects{{/link-to}}</li>
          <li>{{#link-to 'blog' class="navbar-button hvr-wobble-vertical"}}Blog{{/link-to}}</li>
          <li>{{#link-to 'resume' class="navbar-button hvr-wobble-vertical"}}Resume{{/link-to}}</li>
          <li>{{#link-to 'contact' class="navbar-button hvr-wobble-vertical"}}Contact{{/link-to}}</li>
        </ul>
      </div>
    </div>
  </nav>


{{liquid-outlet}}


<div class="footer navbar-fixed-footer">
  <div class="container">
    <small>Let's keep in touch:</small>
    <a href="https://www.linkedin.com/in/mark-froehlich">{{fa-icon "linkedin"}}</a>
    <a href="https://www.github.com/minusthebear02">{{fa-icon "github"}}</a>
    <a href="https://www.instagram.com/mfroeh32/">{{fa-icon "instagram"}}</a>
  </div>
</div>