<!-- Blog Section -->
    <div class="container col-md-12" id="blog">

      <div class="section-heading">
        <h2>Blog</h2>
      </div>

      <div class="container col-md-8 col-md-offset-2">
        <div class="media-body blog-list">
            <h3 class="mt-0 hvr-wobble-vertical"><a href="https://medium.com/@minusthebear02/first-and-fourmost-ab33690b6a27">First and FourMost</a></h3>
            I recently started my journey into becoming a Web Developer and thought I’d share the Four Most helpful tips that I’ve learned so far. But first, a little bit about where I started. <br><br>
            For a couple years I’ve wanted to change careers and learn to program. I’ve put in countless hours going the free, self-taught route with Codecademy, Khan Academy, and a few books. While this was beneficial...
        </div>
        <small class="pull-right"><a href="https://medium.com/@minusthebear02/first-and-fourmost-ab33690b6a27">Read More...</a></small>
        <hr>
      </div>
    </div>