<!-- Contact Section -->
    <div class="container col-md-12" id="contact">
      <div class="section-heading">
        <h2>Contact</h2>
      </div>
      <div class="col-md-6 col-md-offset-3">

        <p>Feel free to contact me if you’d like to collaborate on a project, want to hire me to do some work for you, if you have a question with anything you see here or if you just want to chat. I’m up for anything!</p>

        <form id="contact-form" method="post" action='https://getsimpleform.com/messages?form_api_token=654f24d1a4144687239cbf93833b0d52'>
          <input type="hidden" name="redirect_to" value="http://www.markfroehlich.com">

          <div class="form-group">
            <input type="text" class="form-control" name="name" placeholder="Your Full Name">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" name="email" placeholder="Your E-mail Address">
          </div>
          <div class="form-group">
            <textarea class="form-control" name="message" placeholder="Write your message ..."></textarea>
          </div>

          <input type="submit" class="btn btn-primary" value="Send Message">
        </form>
      </div>
    </div>