<div class="hero" id="home">
    <div class="hero-title container">
        <h1 class="hero-header">Web Developer</h1>
        <h3>Developing the web with my bare hands
            <br />...and some code</h3>

        {{#liquid-if true class="fade-in"}}
        <ul class="hero-skills">
            <li class="html-icon">
                <div class="icon img-responsive">
                    <img src="http://res.cloudinary.com/markfroehlich/image/upload/c_scale,w_95/v1509909601/html2_c1svoz.png">
                </div>
            </li>
            <li class="css-icon">
                <div class="icon img-responsive">
                    <img src="http://res.cloudinary.com/markfroehlich/image/upload/c_scale,w_95/v1509909601/css2_cxa4rm.png">
                </div>
            </li>
            <li class="javascript-icon">
                <div class="icon img-responsive">
                    <img src="http://res.cloudinary.com/markfroehlich/image/upload/c_scale,w_95/v1509909601/javascript_naaede.png">
                </div>
            </li>
            <li class="angular-icon">
                <div class="icon img-responsive">
                    <img src="http://res.cloudinary.com/markfroehlich/image/upload/c_scale,w_95/v1509909582/angular_igqmde.png">
                </div>
            </li>
            <li class="ruby-icon">
                <div class="icon img-responsive">
                    <img src="http://res.cloudinary.com/markfroehlich/image/upload/c_scale,w_95/v1509909614/ruby_j4cemh.png">
                </div>
            </li>
            <li class="rails-icon">
                <div class="icon img-responsive">
                    <img src="http://res.cloudinary.com/markfroehlich/image/upload/c_scale,w_95/v1509909613/rails_jwo2vo.png">
                </div>
            </li>
        </ul>
        {{/liquid-if}}
    </div>
</div>