<div class="hero" id="home">
    <div class="hero-title container">
        <h1 class="hero-header">Web Developer</h1>
        <h3>Developing the web with my bare hands<br />...and some code</h3>

        {{#liquid-if true class="fade-in"}}
            <ul class="hero-skills">
            <li class="html-icon">
                <div class="icon img-responsive">
                <img src="assets/images/html2.png">
                </div>
            </li>
            <li class="css-icon">
                <div class="icon img-responsive">
                <img src="assets/images/css2.png">
                </div>
            </li>
            <li class="javascript-icon">
                <div class="icon img-responsive">
                <img src="assets/images/javascript.png">
                </div>
            </li>
            <li class="angular-icon">
                <div class="icon img-responsive">
                <img src="assets/images/angular.png">
                </div>
            </li>
            <li class="ruby-icon">
                <div class="icon img-responsive">
                <img src="assets/images/ruby.png">
                </div>
            </li>
            <li class="rails-icon">
                <div class="icon img-responsive">
                <img src="assets/images/rails.png">
                </div>
            </li>
            </ul>
        {{/liquid-if}}
    </div>
</div>