<!-- Projects Section -->
    <div class="container col-md-12" id="projects">

      <div class="section-heading">
        <h2>Projects</h2>
      </div>

      <div class="row project-odd">
        <div class="col-md-6 col-md-offset-1">
          <h3>SiteStash</h3>
          <p>
            SiteStash is a website bookmarking application built using Ruby on Rails. Users can create bookmarks and their topics and can "like" another users bookmarks.
          </p>
          <h4>Technologies Used:</h4>
          <ul>
            <li>Ruby on Rails</li>
            <li>Devise</li>
            <li>Pundit</li>
            <li>Faker</li>
          </ul>
          <a href="https://github.com/minusthebear02/site-stash" class="btn btn-default">Check it out on Github</a>
        </div>

        <div class="col-md-4">
          <img src="assets/images/sitestash.png" class="img-responsive" />
        </div>

      </div>

      <div class="row project-even">
        <div class="col-md-4 col-md-offset-1">
          <video class="img-responsive" align="center" loop="" autoplay="" controls="">
            <source src="assets/images/boombocsdemo.mp4" type="video/mp4" />
          </video>
        </div>

        <div class="col-md-6">
          <h3>Boombocs</h3>
          <p>
            Boombocs is a music player application inspired by Spotify built using AngularJS with full audio controls and a responsive layout.
          </p>
          <h4>Technologies Used:</h4>
          <ul>
            <li>AngularJS</li>
            <li>jQuery</li>
            <li>Buzz</li>
          </ul>
          <a href="https://github.com/minusthebear02/boombocs-angular" class="btn btn-default">Check it out on Github</a>
        </div>
      </div>

      <div class="row project-odd">
        <div class="col-md-6 col-md-offset-1">
          <h3>Bloccit</h3>
          <p>
            Bloccit is a Ruby on Rails application that draws upon the simplicity of Reddit giving users the ability to create their own post in a topic while up or down voting their peers' posts. Using an algorithm that takes into account both votes and date created we display the most recent and popular posts at the top of each topic.
          </p>
          <h4>Technologies Used:</h4>
          <ul>
            <li>Ruby on Rails</li>
            <li>RSpec</li>
            <li>BCrypt</li>
            <li>Bootstrap</li>
          </ul>
          <a href="https://github.com/minusthebear02/bloccit" class="btn btn-default">Check it out on Github</a>
        </div>

        <div class="col-md-4">
          <img src="assets/images/bloccit.png" class="img-responsive" />
        </div>

      </div>
    </div>