<!-- Resume Section -->
    <div class="container col-md-12" id="resume">
      <div class="section-heading">
        <h2>Resume</h2>
      </div>

      <div class="col-md-8 col-md-offset-2 resume-img">
        <p>&or;&or; click to download &or;&or;</p>
        <a href="assets/Mark%20Froehlich%20Resume.pdf" download>
          <img src="assets/images/resume_converted.png" class="img-responsive">
        </a>
        <p>&and;&and; click to download &and;&and;</p>
      </div>
    </div>